<!doctype html>
<html>
  <head>
    <title>OMDB lab</title>
  </head>
  <body>
    <div>
      <a href='/'><button action='/'>Home</button></a>
      <a href='/favorites'><button>Favorite Movies</button></a>
      <a href='#'><button>About</button></a>
      <a href='#'><button>Contact</button></a>
    </div>
    Search for a movie:
    <form action="search">
      <input type="text" name="searchterm">
      <input type="submit">
    </form>
  </body>
</html>